body {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
}

ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.clothing-page {
	width: 100%;
	height: 100%;
	padding: 25px 25px;
	font-family: sans-serif;
	background-color: #E5E5E5;
	display: flex;
	justify-content: center;
	gap: 24px;
}

.container-left,
.container-center,
.container-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 24px;
	
}

.form {
	width: 363px;
	height: 292px;
	background-color: #1F1F1F;
	border-radius: 18px;
	display: flex;
	align-items: end;

}

.contact {
	
	display: flex;
	align-items: center;
	gap: 5px;
}

.card-info {
	display: flex;
	align-items: center;
	gap: 10px;
}

.contact {
	display: flex;
	justify-content: space-between;
}

.photo-man {
	width: 40px;
	height: 40px;
	background-color: #D5CCC7;
	border-radius: 100%;
}

.process {
	width: 363px;
	height: 208px;
	background-color: white;
	border-radius: 18px;
}


.review {
	width: 363px;
	height: 195px;
	background-color: white;
	border-radius: 18px;
}

.leave-review {
	width: 363px;
	height: 190px;
	background-color: white;
	border-radius: 18px;
}

.central-photo {
	width: 332px;
	height: 424px;
	background-color: white;
	border-radius: 18px;
}

.pay-now {
	width: 332px;
	height: 172px;
	background-color: white;
	border-radius: 18px;
}

.status {
	width: 332px;
	height: 172px;
	background-color: white;
	border-radius: 18px;
}

.assortment {
	width: 336px;
	height: 248px;
	background-color: white;
	border-radius: 18px;
}

.banner {
	width: 336px;
	height: 136px;
	background-color: white;
	border-radius: 18px;
}

.e-wallet {
	width: 336px;
	height: 300px;
	background-color: white;
	border-radius: 18px;
}
